.banner {
  padding: 250px 0;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  color: #ffd100;
}

.banner p {
  color: white;
  font-size: white;
  opacity: .9;
  font-size: 20px;
}
