.footer {
  background-color: #002652;
  text-align: center;
  padding: 60px;
}

.footer a {
  font-size: 30px;
  color: #ffd100;
  margin: 0 5px;
}

.footer p {
  color: white;

}

.footer .fas {
  color: red;
}
